.container {
  background-color: #efefef;
  padding: 10% 5%;
}

.todo-list {
  width: 80%;
  /* width: fit-content; */
  display: flex;
  margin: auto;
  justify-content: baseline;
  flex-wrap: wrap;
}

.todo-list .todo-item {
  background-color: white;
  border-radius: 0.4em;
  height: fit-content;
  box-shadow: 0.3em 0.3em 0.7em 0.3em rgba(0, 0, 0, 0.4);
  margin-bottom: 3%;
  /* border: 2px solid #777; */
  display: inline-block;
  transition: all .2s;
}

@media (max-width: 767px) {
  .todo-list .todo-item {
    flex-basis: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .todo-list .todo-item {
    flex-basis: 45%;
    margin-right: auto;
  }
}

.todo-list .todo-item .todo-item-top {
  margin-top: 0.2em;
  margin-left: .5em;
  color: #333;
  font-weight: bold;
  display: flex;
}

.todo-list .todo-item .todo-item-top .control-buttons {
  flex:1;
}

.todo-list .todo-item .todo-item-top .control-buttons svg {
  color: #777;
  font-size: 1.5em;
  margin-right: 5px;
}

.todo-list .todo-item .todo-item-top .notification {
  flex:1;
  margin-right: .2em;
  text-align: right;
}

.todo-list .todo-item .todo-item-top .notification svg {
  min-width: 1.5em;
}

.todo-list .todo-item .todo-item-top .notification .priority2 {
  color: red;
}

.todo-list .todo-item .todo-item-top .notification .priority1 {
  color: green;
}

.todo-list .todo-item .todo-item-top .notification .priority0 {
  color: black;
}

.todo-list .todo-item .todo-item-top .notification .warning {
  color: rgb(255, 98, 42);
}

.todo-list .todo-item .content {
  margin: 2% 5% 2% 5%;
}

.todo-list .todo-item .content .header {
  margin-bottom: 5px;
}

.todo-list .todo-item .content .header .todo-title {
  display: inline-block;
}

.todo-list .todo-item.done {
  background: rgba(178, 239, 178, 0.6);
}

.todo-list .todo-item.done .content .header {
  color: green;
}

.todo-list .todo-item.done .content .header .todo-title::after {
  content: " ✔ ";
  font-size: 1em;
}
