.container {
  background-color: #efefef;
  padding: 10% 5%;
}

.todo-list {
  width: 80%;
  /* width: fit-content; */
  display: flex;
  margin: auto;
  justify-content: baseline;
  flex-wrap: wrap;
}

.todo-list .todo-item {
  background-color: white;
  border-radius: 0.4em;
  box-shadow: .3em .3em .7em .3em rgba(0,0,0,.4);
  /* border: 2px solid #777; */
  display: inline-block;
}

@media (max-width: 767px) {
  .todo-list .todo-item {
    flex-basis: 90%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .todo-list .todo-item {
    flex-basis: 45%;
    margin-bottom: 3%;
    margin-right: auto;
  }
}

.todo-list .todo-item .todo-item-controller {
  margin-top: 0.2em;
  margin-left: 0.5em;
  color: #333;
  font-weight: bold;
}

.todo-list .todo-item .content {
  margin: 0 5% 5% 5%;
}

.todo-list .todo-item .content .header {
  margin-bottom: 5px;
}

.todo-list .todo-item .content .header .todo-title {
  display: inline-block;
}

.todo-list .todo-item.done {
  background: rgba(178, 239, 178, 0.6);
}

.todo-list .todo-item.done .content .header {
  color: green;
}

.todo-list .todo-item.done .content .header .todo-title::before {
  content: " ✔ ";
  font-size: 1em;
}
