body {margin:0;padding:0;background-color:#fff;}
hr {display:none;clear:both;}
img,fieldset {border:0 none;}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0;padding:0;}
table {border-collapse:collapse;border:0 none;}
form, p {margin: 0px;}
button {margin:0;padding:0;border:0 none;background:transparent;*overflow:visible;cursor:pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a:link {color :none;text-decoration:none;}
a:visited {color:none;text-decoration:none;}
a:active {color:none;text-decoration:none;}
a:hover {color:none;text-decoration:none;}
body,table,th,td,input,select,textarea,div {
font-family: "verdana";
font-size: 12px;
color: #333;
font-style: normal;
line-height:18px;
margin:0;
word-spacing:-1pt;
word-break:break-all;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}